
  






.cardStack{
    display: flex;
    flex-direction: column;
    margin: 2%;
    height: 1000px;
}



.logo{
    max-height: 100px; 
}

/* .profile-intro{
    width: 100%;
    flex-direction: row;
} */

.profileImg{
text-align: center;
    border-radius: 50%;
   
  max-width: 100%;
   margin:2vh
}

/* .profile-image-col{
    max-width: 10vh;
} */

.title{

    font-family: 'Work Sans', sans-serif;
font-size: 100px;
font-weight: bold;
padding: 4vh;
text-align: right;
}
.subTitle{
 font-weight: 100;
    text-align: center;
}






.bootcampStamp{
    max-width:100%;

    /* max-width: 20vh ;
    max-height: 20vh; */

    
}

.aboutMe{
    font-family: 'Work Sans', sans-serif;
    font-weight:bolder;
    font-size: 50px;
    color: white;
}
.item{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    font-weight: 100;
    font-size: 50px;
    padding: 10vh;
   
}

.box{
    border: 2px solid white;
}

.skill-title{
color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.skillItem{
    color: white;
    border: 2px solid white;
padding: 3vh;
    border-radius: 5%;
    font-size: 20px;
    text-align: center;
   
}

.navbar{
 

}

.nav-item{
    color: white !important;
    font-family: 'Raleway', sans-serif !important;

    padding: 0 !important;
    text-align: left !important;
   margin:5vh;
   font-size: 20px !important;
}

.nav-item:hover{
    transform: scale(1.4);

}
/* .navButtonCollapse{
min-width: 20vh;
min-height: 10vh;
 
} */


.portfolio{
    color: black;
}







.cardTitle{
    padding:2%;
}







.modalButton{
    color: rgba(0,0,0,0.55);
}

.resume{
    max-width: 100%;
}
.carousel{

}

.carousel-title{
    font-size: 40px;
    font-weight: bold;
    color: rgb(0,147,233,1);
    text-decoration: none;
    text-align: left;

}
:link{
    text-decoration: white;
}


.portfolioTitle{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}


.portfolioTxt{
    font-family: 'Work Sans', sans-serif;
    display: flex;
    font-weight: 100;
    font-size: 20px;
    
}


.portfolioCard{
    font-family: 'Raleway';

    color: white;
    margin: 2%;
    
}

.portfolioImg{
    width: 100%;
    max-height: 500px;
}
.portfolioImg:hover{
    transform: scale(1.02);
}





/* 
@media only screen and (min-width: 780px) and (max-width:1200px) {
   .title{
    font-size: 80px ;
   }
   .profileImg{
    max-width: 80vh;
   }
    
} */
  @media all and (min-width: 780px) and (max-width: 1200px) {
    /* .profileImg{
        max-width: 110vh;
    } */
    .title{
        font-size: 60px ;
       }
       .skillItem{
        font-size: 12px ;
        margin: 1vh;
    
        padding: 2vh;
    }
    .item{
        font-size: 40px;
    }
}
 @media  all and (min-width: 360px) and (max-width: 779px) {
    .logo{
        max-height: 200px; 
    }
    /* .profileImg{
        max-width: 30vh;
    } */
    .title{
        font-size: 25px ;
        padding: 1vh;
       }
    .subTitle{
        font-size: 10px;
        text-align: right;
     
    }
    
    .item{
        font-size: 30px;
    }
    .skill-title{
        font-size: 25px;
    }
    .skillItem{
        font-size: 12px ;
        margin: 1vh;
    
        padding: 2vh;
    }
    .carousel-title{
        font-size: 24px;
    }
       }
       @media  all and (max-width: 359px) {
        /* .profileImg{
            max-width: 40vh;
        } */
        .title{
            font-size: 24px ;
           }
           .subTitle{
            font-size: 10px;
            text-align: right;
         
        }
        .skill-title{
            font-size: 30px;
        }
        .skillItem{
            font-size: 12px ;
        }
        .carousel-title{
            font-size: 24px;
        }
           } 

     

