body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(158,191,212,1) 30%, rgba(66,132,179,1) 100%);
    background-repeat: no-repeat;
}
